@{
    ViewData["Title"] = "Account";
}

@using System.Security.Claims
<h1>ScribbleBoard Account</h1>
@if (User.Identity.IsAuthenticated)
{
    <h2>Hello, @User.Identity.Name!</h2>

    <p><img src="~/img/scribble.gif" class="icon"/> @Html.ActionLink("Create a new scribble", "Create", "Images")</p>
    <p><img src="~/img/gallery.gif" class="icon"/> @Html.ActionLink("See your gallery","UserGallery","Images", new {user = User.Identity.Name})</p>

    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-primary" value="Log out" />
    }
}
else
{
    <p><img src="~/img/smile.gif" class="icon"/> @Html.ActionLink("Register for a new account", "Register")</p>
    <p><img src="~/img/heart.gif" class="icon"/> @Html.ActionLink("Log in to an existing account", "Login")</p>
}