@{
  Layout = "_Layout";
}

@using System.Security.Claims
<h1>ScribbleBoard Account</h1>
@if (User.Identity.IsAuthenticated)
{
    <h2>Hello @User.Identity.Name!</h2>

    <p>@Html.ActionLink("Create a new scribble", "Create", "Images")</p>
    <p>@Html.ActionLink("See your gallery","UserGallery","Images", new {user = User.Identity.Name})</p>

    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-primary" value="Log out" />
    }
}
else
{
    <p>@Html.ActionLink("Register for a new account", "Register")</p>
    <p>@Html.ActionLink("Log in to an existing account", "Login")</p>
}