@{
    ViewData["Title"] = "Log in";
}

@using ScribbleBoard.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
    <br />
    <input type="submit" value="Log in" class="btn btn-success" />
}
<hr />
<p>Don't have an account? @Html.ActionLink("Register for an account here","Register")</p>