@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-4">ScribbleBoard</h1>
<div class="customAnchor">
    <p>Welcome to ScribbleBoard, where you can doodle on the walls of the Internet. </p>
    <p>@Html.ActionLink("See all scribbles", "Index", "Images")</p>
    <p>@Html.ActionLink("Create a new scribble", "Create", "Images")</p>

    @if (!User.Identity.IsAuthenticated)
    {
        <p>@Html.ActionLink("Create your account", "Register", "Account")</p>
        <p>@Html.ActionLink("Log into an existing account", "Login", "Account")</p>
    }
    else
    {
        <p>@Html.ActionLink("Manage your account","Index","Account")</p>
        @using (Html.BeginForm("LogOff", "Account"))
        {
            <input type="submit" class="btn btn-primary" value="Log out" />
        }
    }
</div>