@{
    ViewData["Title"] = "Create new";
}

<head>
  <title>Canvas</title>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <style type="text/css">
    body {
      justify-content: center;
    }

    .tools {
      display: flex;
      justify-content: left;
      flex-direction: row;
      margin-top: 15px;
    }

    .tools .color-field {
      height: 40px;
      width: 40px;
      min-height: 40px;
      min-width: 40px;
      cursor: pointer;
      display: inline-block;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 50%;
      border: 2px solid white;
      align-self: center;
      margin: 0 15px;
      border-style: solid; 
      border: medium solid grey;
      border-width: 1px; 
    }

    .tools .button {
      align-self: center;
      width: 100px;
      height: 40px;
      border: 2px solid white;
      cursor: pointer;
      color: white;
      background-color: #222;
      font-weight: bold;
      margin: 0 15px;
    }

    color-picker {
      align-self: center;
      margin: 0 15px;
      height: 50px;
    }

    .pen-range {
      align-self: center;
      margin: 0 15px;
    }
    #canvas {
      border-style: solid; 
      border: medium solid grey;
      border-width: 1px;
    }

    .formClass {
        padding-left: 0px;
    }

  </style>
</head>
  <h2><img src="~/img/scribble.gif" class="icon"/> Draw new scribble</h2>
  <div class="field">
    <canvas id="canvas"></canvas>
    <div class="tools">
      <button type="button" class="btn btn-secondary" id="btnClear">Clear All</button>
      <div onClick="change_color(this)" class="color-field" style="background: #ff5353;"></div>
      <div onClick="change_color(this)" class="color-field" style="background: #ffed4d;"></div>
      <div onClick="change_color(this)" class="color-field" style="background: #292dff;"></div>
      <div onClick="change_color(this)" class="color-field" style="background: white;"></div>
      <input onInput="draw_color = this.value" type="color" class="color-picker">
      <input type="range" min="1" max="100" class="pen-range" onInput="draw_width = this.value">
    </div>
    <br> <br>

    <div class ="col-6 formClass">
        @model ScribbleBoard.Models.Image
        
        @using (Html.BeginForm())
        {
        @Html.HiddenFor(m => m.Data, new { @id = "hiddenData" })
        @Html.Hidden("CreatedAt", DateTime.Now)
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control", required="required"})
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", required="required"})
        <br>
        <input type="submit" id="btnDownload" class="btn btn-success" required="true" />
        }
        <br/>
        <p>@Html.ActionLink("Back to all scribbles", "Index")</p>
    </div>

    <script type="text/javascript">
      var myCanvas = document.querySelector('#canvas');
      myCanvas.width = 600;
      myCanvas.height = 400;
      var context = myCanvas.getContext('2d');
      let startBackGroundColor = "white";
      context.fillStyle = startBackGroundColor;
      context.fillRect(0, 0, canvas.width, canvas.height);
      let draw_color = "black";
      let draw_width = "2";
      let is_drawing = false;

      function change_color(element) {
        draw_color = element.style.background;
      }

      function start(e) {
        is_drawing = true;
        context.beginPath();
        context.moveTo(e.clientX - myCanvas.offsetLeft,
          e.clientY - myCanvas.offsetTop);
        e.preventDefault();
      }

      function draw(e) {
        if (is_drawing) {
          context.lineTo(e.clientX - myCanvas.offsetLeft,
            e.clientY - myCanvas.offsetTop);
          context.strokeStyle = draw_color;
          context.lineWidth = draw_width;
          context.lineCap = "round";
          context.lineJoin = "round";
          context.stroke();
        }
        e.preventDefault();
      }

      function stop(e) {
        if (is_drawing) {
          context.stroke();
          context.closePath();
          is_drawing = false;
        }
        e.preventDefault();
      }

      myCanvas.addEventListener("touchstart", start, false);
      myCanvas.addEventListener("touchmove", draw, false);
      myCanvas.addEventListener("mousedown", start, false);
      myCanvas.addEventListener("mousemove", draw, false);
      myCanvas.addEventListener("touchend", stop, false);
      myCanvas.addEventListener("mouseup", stop, false);
      myCanvas.addEventListener("mouseout", stop, false);

      const btnClear = document.querySelector("#btnClear");
      btnClear.addEventListener("click", function () {  //listen for the click event and run this function
        context.fillStyle = startBackGroundColor;
        context.clearRect(0, 0, myCanvas.width, myCanvas.height); 
        context.fillRect(0, 0, myCanvas.width, myCanvas.height);
      });

      const btnDownload = document.querySelector("#btnDownload");
      btnDownload.addEventListener("click", function () {
        if (window.navigator.msSaveBlob) {  //IE and Edge (PNG only)
          window.navigator.msSaveBlob(msCanvas.msToBlob(), "canvas-image.png")
        }
        else  //chrome & firefox
        {
          const dataUri = myCanvas.toDataURL("image/jpeg");
          $('#hiddenData').val(dataUri);
        }
      });
    </script>
  </div>
