@{
  Layout = "_Layout";
}

@model ScribbleBoard.Models.Image
@using ScribbleBoard.Models

<h3>@Html.DisplayFor(m => m.Title)</h3>
<h5>Created by @Html.ActionLink(Model.UserName, "UserGallery","Images", new {user = Model.UserName})</h5>
<h5>Last modified: @Html.DisplayFor(m => m.CreatedAt)</h5>
<br>
<div class="detailsPage">
  <img src="@Model.Data" />
</div>
<br>
<h5>Description:</h5>
<p>@Html.DisplayFor(m => m.Description)</p>

<hr />

<p>@Html.ActionLink("Return to all images", "Index")</p>
<p>@Html.ActionLink("Edit image details", "Edit", new {id = Model.ImageId})</p>
<p>@Html.ActionLink("Delete this image", "Delete", new {id = Model.ImageId})</p>

