@{
    ViewData["Title"] = ViewBag.UserName + "'s Gallery";
}

@using ScribbleBoard.Models
@model PagedList<ScribbleBoard.Models.Image>

<h1>@ViewBag.UserName's Gallery</h1>

@if (Model.Count == 0)
{
  <p>There are no images yet.</p>
}

<div class="flexBox"> 
@foreach (Image image in Model)
{
  <div> 
      <h4>@Html.ActionLink(image.Title, "Details", new {id = image.ImageId})</h4>
      <img src="@image.Data" />
      <!-- <br /> -->
  </div>
}

</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">

    @if (Model.HasPrevious)
    {
     <li class="page-item"><a class="page-link" href="@Url.Action("UserGallery", new {page = Model.CurrentPage - 1})">Previous</a></li> 
    }
    else
    {
      <li class="page-item"><a class="page-link" href="@Url.Action("UserGallery", new {page = 1})">Previous</a></li>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
    <li class="page-item"><a class="page-link" href="@Url.Action("UserGallery", new {page = i})">@i</a></li>
    }

    @if (Model.HasNext)
    {
     <li class="page-item"><a class="page-link" href="@Url.Action("UserGallery", new {page = Model.CurrentPage + 1})">Next</a></li> 
    }
    else
    {
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    }
  </ul>
</nav>
<p>Page @(Model.TotalPages < Model.CurrentPage ? 0 : Model.CurrentPage) of @Model.TotalPages</p>
<p>@Html.ActionLink("Return to all images", "Index")</p>